<h1>Add a New Passenger</h1>

<%= form_with model: @passenger, class: 'create-passenger' do |f| %>
  <p>Please provide the following information to add a passenger:</p>

  <div class = "form-group">  
    <%= f.label :name, class: "hidden"%>
    <%= f.text_field :name, placeholder: "Name", class: 'form-control'%>
  </div>

  <div class = "form-group">
    <%= f.label :phone_num, "Phone Number", class: "hidden" %>
    <%= f.text_field :phone_num, placeholder: "Phone number", class: 'form-control' %>
  </div>

  <%= f.submit "Add Passenger", class: 'btn btn-secondary'%>
<% end %>
