<main>
  <h1 class="font-weight-light mt-4">Driver Directory</h1>
  <p class="lead text-black-50">Click on a driver's name to view more information.</p>
  <%# Table styling source: https://getbootstrap.com/docs/4.4/content/tables/ %>
  <% if @drivers.length > 0 %>
    <%= paginate @drivers %>
    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col", class="th-sm">ID</th>
          <th scope="col", class="th-sm">Name</th>
          <th scope="col", class="th-sm">VIN</th>
        </tr>
      </thead>
      <tbody>
          <% @drivers.each do |driver|%>
          <tr>
            <th scope="row"> <%= driver.id %> </th>
            <td><%= link_to driver.name, driver_path(driver) %></td>
            <td><%= driver.vin %></td>
          </tr>
          <% end %>
      </tbody>
  <% else %>
    <h3>No driver in the system!</h3>
  <% end %>
  </table>
  <%= paginate @drivers %>
</main>

