<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <%# Source: https://getbootstrap.com/docs/4.0/components/navbar/  %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Rideshare Rails</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <%= link_to "Home", root_path, :class => "nav-link"%><span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <%= link_to "Drivers", drivers_path, :class => "nav-link"%><span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <%= link_to "Add Driver", new_driver_path, :class => "nav-link"%><span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <%= link_to "Passengers", passengers_path, :class => "nav-link"%><span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <%= link_to "Add Passenger", new_passenger_path, :class => "nav-link"%><span class="sr-only">(current)</span>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>
    

  </body>
</html>
